<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} – {% endif %}Cned</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header>
        <h1>Cned</h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Accueil</a></li>
                <li><a href="https://eformation.cned.fr/">Espace de formation</a></li>
                <li><a href="https://www.cned.fr/sites/cned.fr/files/pdf/cgv/CNED_CGV-CGU_2026_V01_1-avril.pdf">Offre de
                        formation</a></li>
                <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ 'now' | date: '%Y' }} {{ site.title }}</p>
    </footer>
</body>

</html>
